:root {
  --purple: #990099;
  --gray: #666666;
  --border-radius: 25px;
}

@font-face {
  font-family: iranSans;
  src: url(assets/492984b8.woff);
}

@font-face {
  font-family: tootsabz;
  src: url(assets/00287.ttf);
}

a {
  text-decoration: none;
}
.c-body {
  background-image: url("./assets/img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  direction: rtl;
  font-family: "iranSans";
}

.text-center {
  text-align: center;
}

.text-white {
  color: white;
}

.c-header {
  text-align: center;
  color: white;
  font-family: "tootsabz";
  font-size: 5.5rem;
}

.c-header2 {
  text-align: center;
  color: white;
  font-size: 2rem;
  margin-bottom: 70px;
}

.c-card {
  background-color: white;
  border-radius: var(--border-radius);
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.c-title {
  color: var(--gray);
  font-weight: bold;
  font-size: 1.4em;
}

.c-unit {
  color: var(--gray);
  font-size: 1em;
}

.c-price {
  background-color: var(--purple);
  border-radius: 50px;
  padding: 0.15em 0.7em;
  display: inline-block;
  color: white;
  font-size: 1.3em;
}

.c-price__unit {
  font-size: 0.75em;
}

.c-img-box {
  height: 170px;
}

.c-img-box.large {
  height: 220px;
}

.c-catalog {
  padding: 20px 20px 0 20px;
  background-color: white;
  border-radius: var(--border-radius);
  margin-bottom: 20px;
}

.c-footer {
  background-color: white;
  border-radius: var(--border-radius);
  padding: 8px 20px;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-phone {
  background-color: var(--purple);
  border-radius: var(--border-radius);
  color: white;
  text-decoration: none;
  padding: 4px;
  font-size: 17px;
  justify-content: space-around;
  display: flex;
  align-items: center;
}
.c-phone:hover,
.c-phone:active {
  color: white;
}

.c-b-card {
  border: 2px solid #ccc;
  border-radius: var(--border-radius);
  padding: 15px 8px;
  text-align: center;
  font-size: 13px;
  margin-bottom: 35px;
}

.c-footer-icon {
  width: 20px;
  height: 20px;
  opacity: 0.7;
  margin: 0 5px;
}

.c-phone img {
  width: 1.6em;
  height: 1.6em;
  margin-right: 0.7em;
}

.c-phone bdi {
  font-size: 1.1em;
  margin-right: 0.4em;
  line-height: normal;
}

.c-footer-text {
  font-size: 0.9rem;
  color: #8d8d8d;
}

@media (max-width: 767.98px) {
  .c-footer {
    padding: 20px;
    flex-direction: column;
  }
  .c-footer-icon {
    width: 30px;
    height: 30px;
    margin: 0 10px;
  }

  .c-catalog .c-img-box {
    height: 140px;
  }  
}
